.heading_wrapper {
  background-color: var(--poke-blue);
  padding: 2em 0em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.heading_title_images {
  width: 52vw;
}

.heading_title_quiz {
  width: 26vw;
}
