.quiz_answer_buttons {
  text-align: center;
  padding: 1em;
  background: var(--poke-blue);
  border: solid transparent 10px;
  color: white;
}

.quiz_answer_buttons_selected {
  text-align: center;
  padding: 1em;
  background: var(--poke-blue);
  border: solid green 10px;
  color: white;
}

.quiz_answer_buttons_correct {
  text-align: center;
  padding: 1em;
  background: green;
  border: solid transparent 10px;
  color: white;
}

.quiz_answer_buttons_incorrect {
  text-align: center;
  padding: 1em;
  background: var(--poke-red);
  border: solid transparent 10px;
  color: white;
}
