.instructions_continue_button {
  align-self: center;
  color: #fff;
  background-color: var(--poke-dark-red);
  padding: 1em;
  margin: 1em 2em;
}

.instructions_continue_button_text {
  padding-bottom: 5px;
  font-family: var(--main-text-font);
  font-weight: lighter;
  animation: blink 1.5s infinite;
}
