.modes_wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 1em;
  place-content: space-evenly;
}

.modes_options {
  margin: 1em;
  background-color: var(--poke-dark-red);
  padding: 1em;
  text-align: center;
  color: #fff;
}

.mode_heading {
  padding-bottom: 5px;
  font-family: "Press Start 2P";
  font-weight: lighter;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
