.instructions_next_button {
  display: flex;
  place-content: center;
  margin: 1em;
  background-color: var(--poke-dark-red);
  padding: 1em;
  color: #fff;
  text-decoration: none;
}

.instructions_next_button__words {
  padding-bottom: 5px;
  font-family: var(--main-text-font);
  font-weight: lighter;
  animation: blink 1.5s infinite;
}
